ion-col {
  --size: "12";
  --size-lg: "90%";
  --offset-lg: "10%";
  --size-md: "90%";
  --offset-md: "10%";
  --size-sm: "90%";
  --offset-sm: "10%";
}
ion-row {
    border: 0px solid red;
}
ion-col {
  border: 0px solid red;
}
